#map-canvas {
  width: 100%;
  /* vh is view port */
  height: 100vh;
  margin: 0 auto;
}

.btn-group {
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  margin-left: 460px;
  margin-top: 10px;
}

.switchButton1 {
  font-size: 0.8em;
  background-color: rgba(122, 48, 108, 1);
  color: white;
  border-radius: 5px;
  border: 1px solid grey;
}

.switchButton1:hover {
  background-color: rgba(122, 48, 108, 0.7);
}

.switchButton2:hover {
  background-color: rgba(53, 87, 159, 0.7);
}

.switchButton2 {
  font-size: 0.8em;
  background-color: rgba(53, 87, 159, 1);
  color: white;
  border-radius: 5px;
  border: 1px solid grey;
}

#bikeLocation {
  margin: 10px;
  font-size: 1.3em;
  text-align: left;
  font-family: helvetica;
}

#bikesAvailable {
  margin: 10px;
  text-align: left;
  font-size: 1.3em;
  font-family: helvetica;
}

#emptyDocks {
  margin: 10px;
  text-align: left;
  font-size: 1.3em;
  font-family: helvetica;
}


.hideForm {
  display: none;
}

.userName {
  float: right;
}

/*form {
  float: left;
  width: 350px;
  height: 300px;
  position: relative;

}*/


/*main {
  z-index: 2;
}*/

.greeting {
  text-align: right;
}

#brand {
  color: cornflowerblue;
  font-family: helvetica;
  font-size: 1.1em;
}

.nav-styling {
font-size: 1em;
}
