$blue:       cornflowerblue;
$salamander: #3c50a3;
$purple:     rgba(122, 48, 108, 1);
$darkPurple: rgba(122, 48, 108, 0.7);
$white:      white;
$grey:       #f7f7f9;

$logo-font: 'Courgette', cursive;

#map-canvas {
  width: 100%;
  /* vh is view port */
  height: calc(100vh - 67px);;
  margin: 0 auto;
}

.btn-group {
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  margin-left: 460px;
  margin-top: 10px;
}

.switchButton1 {
  font-size: 1em;
  background-color: $purple;
  color: $white;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.switchButton1:hover {
  background-color: $darkPurple;
}

.switchButton2 {
  font-size: 1em;
  background-color: rgba(53, 87, 159, 1);
  color: white;
  border-radius: 5px;
  border: none;
}

.switchButton2:hover {
  background-color: rgba(53, 87, 159, 0.7);
}

#bikeLocation {
  margin: 10px;
  font-size: 1.3em;
  text-align: left;
  font-family:'Roboto', sans-serif;
  color: grey;
}

#bikesAvailable {
  margin: 10px;
  text-align: left;
  font-size: 1.3em;
  font-family:'Roboto', sans-serif;
  font-family:'Roboto', sans-serif;
}

#emptyDocks {
  margin: 10px;
  text-align: left;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.hideForm {
  display: none;
}

.userName {
  float: right;
}

.greeting {
  text-align: right;
}

//*********************************************************** Scaffolding

html, body {
  height: 100%;
}

//*********************************************************** Navigation

nav {
  z-index: 2;
  font-family: 'Roboto', sans-serif;
}

#brand {
  color: $blue;
  font-family: helvetica;
  font-size: 1.5em;
  font-family: $logo-font;
  line-height: 30px;

  img {
    display: inline-block;
    margin-right: 10px;
  }
}

.nav {
  float: right;
  line-height: 30px;
}

.navbar-toggler {
  float: right;
}

.navbar-light .navbar-nav .nav-link {
  color: $blue;

  &:hover {
    color: $salamander;
  }
}

@media (max-width: 544px) {
  nav {
    .container {
      position: relative;
    }
  }

  .navbar-toggler {
    position: absolute;
    top: 4px;
    right: 0;
    color: $salamander;
  }

  #brand {
    display: block;
  }

  .navbar-brand {
    float: none;
  }

  .nav {
    display: block;
    width: 100%;
  }

  .nav-item {
    float: left;
    display: block;
    width: 100%;

    .nav-link {
      width: 100%;
      display: block;
    }
  }

  .collapse.in {
    float: left;
  }
}

//*********************************************************** Home


//.phoneSection {
//
//  //width: 230px;
//  //height: auto;
//  //margin-left: 1000px;
//  //margin-top: 100px;
//
//  display: flex;
//  align-items: right;
//  justify-content: right;
//  text-align: right;
//  top: 67px;
//  bottom: 0;
//  left: 0;
//  right: 0;
//
//  #iphone {
//    position: absolute;
//    z-index: 1000;
//    height: auto;
//    width: 20%;
//    margin-top: 65px;
//    margin-left: 100px;
//  }
//
//  #appPic {
//    position: absolute;
//    z-index: 500;
//    margin-top: 153px;
//    margin-left: 123px;
//    //width: 235px;
//    width: 17%;
//    height: auto;
//
//  }
//}

//#welcomeMessage {
//  position: absolute;
//  top: 67px;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  z-index: 1;
//  height: 100%;
//  width: 100%;
//  background: rgba(60,80,163,0.8);
//  text-align: center;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//  .left {
//    h1 {
//      color: white;
//      font-size: 2.5em;
//      font-family: 'Roboto:300', sans-serif;
//      span {
//        font-family: $logo-font;
//      }
//    }
//    h3 {
//      color: #f7f7f9;
//      font-size: 1.3em;
//      font-family: 'Roboto:300', sans-serif;
//    }
//  }



//*********************************************************** Buttons

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: $salamander;
    border-color: $salamander;
  }
}

//*********************************************************** Modal

.modal-header {
  background: $grey;
  border-radius: 3px 3px 0 0;
}

.modal {
  h4 {
    color: $salamander;
  }
}

.homepage {
  position: absolute;
  top: 67px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: calc(100vh - 67px);
  width: 100%;
  background: rgba(60,80,163,0.8);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .left {
    h1 {
      color: white;
      font-size: 2.5em;
      font-family: 'Roboto:300', sans-serif;

      span {
        font-family: $logo-font;
      }
    }
    h3 {
      color: #f7f7f9;
      font-size: 1.3em;
      font-family: 'Roboto:300', sans-serif;
    }
  }

  .right {
    width: 320px;
    height: 572px;

    .phone {
      margin: 0 auto;
      background: url(http://community.uxmastery.com/uploads/db4094/original/1X/b2235f688a6a5c0d83e187db8f53925346e392df.png);
      background-repeat: no-repeat;
      background-size: 297px 583px;
      height: 572px;

      img {
        margin-top: 72px;
      }
    }
  }
}


//.homepage {
//  position: absolute;
//  top: 67px;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  z-index: 1;
//  height: 100%;
//  width: 100%;
//  background: rgba(60,80,163,0.8);
//  text-align: center;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//  .left {
//    h1 {
//      color: white;
//      font-size: 2.5em;
//      font-family: 'Roboto:300', sans-serif;
//      span {
//        font-family: $logo-font;
//      }
//    }
//
//    h3 {
//      color: #f7f7f9;
//      font-size: 1.3em;
//      font-family: 'Roboto:300', sans-serif;
//    }
//  }
//
//  .phoneSection {
//    img {
//      width: 100px;
//    }
//  }
//}
